* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #242424;
}

a:hover {
    text-decoration: underline;
}

/* title_wrap START */
#wrap > div.title_wrap {
    border-bottom: thick double #dadada;
    margin: 10px; padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}

/* menu_wrap START */
#wrap > div.menu_wrap {
    text-align: center;
}

#wrap > div.menu_wrap a {
    display: inline-block;
    width: 150px;
    margin: 10px 5px;
    padding: 10px;
    border: 1px solid #dadada;
    border-radius: 5px;
    text-align: center;
}

#wrap > div.menu_wrap a:hover {
    text-decoration: none;
    background-color: #f8f8f8;
}

/* addSale_wrap START */
#wrap > div.addSale_wrap {
    display: none;
    text-align: center;
}

#wrap > div.addSale_wrap input {
    width: 400px;
    padding: 10px;
    margin: 1px;
    border: 1px solid #dadada;
    border-radius: 5px;
}

#wrap > div.addSale_wrap input[type="button"] {
    text-align: center;
    width: 110px;
    cursor: pointer;
}

/* saleProductList_wrap START */
#wrap > div.saleProductList_wrap {
    display: none;
    text-align: center;
}

#wrap > div.saleProductList_wrap > table.productList {
    padding: 5px;
    width: 1000px;
}